.divider {
    background: linear-gradient(102.51deg, #9473FF 23.43%, #8CCFFF 52.05%, #CB57F3 91.9%);
    width: 102vw; 
    border: 3px solid #FFFFFF;
    height: 65px;
    position: absolute;
    top: -32.5px;
    transform-origin: 0 0;
  }

 .zone {
    background-color: #FFFFFF;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    height: 65px;
 }

.text {
    margin: 8px;
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
    text-align: left;
}
