body {
    margin: 0
}

.btn-blue {
    background-color: #5AC8FA;
    width: 120px;
    height: 35px;
    color: #FFFFFF;
}

.btn-blue:hover {
    box-shadow: 0px 0px 15px 0px #9FDDFA;
    background-color: #5AC8FA;
}

.btn-blue:active {
    background-color: #714BEB;
}

.btn-primary {
    background-color: #9579F0;
}

.btn-primary:hover {
    background-color: #714BEB;
    border: 1px solid #9579F0;
}

.btn-primary:active {
    background-color: #714BEB;
}

.btn-primary.outline {
    border: 1px solid #FFFFFF;  
    background-color: transparent;
    color: #FFFFFF;
} 

.btn-primary.outline:active {
    background-color: #714BEB;
    color: #FFFFFF !important;
}

.btn-primary.outline:hover {
    background-color: #714BEB;
    border: 1px solid #9579F0;
    color: #FFFFFF !important;
}

.btn-tg{
        width: 140px;
        height: 35px;
        background-color: #FFFFFF;
        color: #9579F0;
        font-size: 16px;
        font-weight: 500;
        align-items: center;
        justify-content: space-around;
        display: flex;
  }


  .btn-status-tg {
    width: 120px;
    height: 40px;
    color: #FFFFFF;
    background-color: #5AC8FA;
    font-size: 16px;
    font-weight: 500;
  }

.btn-tg:active {
    border: 1px solid #9579F0;
    box-shadow: 0px 0px 15px 0px #E1E1E1;
}

.btn-tg:hover {
    border: 1px solid #9579F0;
}

.btn {
    font-family: 'Poppins';
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.btn:hover {
    box-shadow: 0px 0px 15px 0px #C09BF1;
}

.btn:active {  
    box-shadow: none;
}

table {
    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden;
    box-shadow: 0 0 0 1px #626262;
    background-color: #EDEDED;
}

td {
    border: 1px solid #626262;
}
th {
    padding: 15px 20px;
    font-weight: normal;
    border: 1px solid #626262;
    background-color: #C8BCF6;
}